*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    box-sizing: content-box;
    width: 400px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid rgb(13, 203, 26);
}

.gridElement{
    background-color: rgb(171, 168, 168);
    height: auto;
    aspect-ratio: 1;
    border: 1px solid rgb(213, 213, 213);
}

.color {
    border-width: 0px;
}